<div class="container-fluid">
    <div class="row" style="background: #E5E5E5;">
      <div class="col">
        <h3>Service Type Configuration </h3>
      </div>  
      <div class="col d-flex justify-content-end">
        <h4>Login/Dashboard </h4>
      </div>  
    </div>
    <div class="row mt-4 mb-4">
        <div class="col w-25">
            <form style="width:300px;">
              <div class="input-group">
                <input class="form-control border-end-0 border" type="search" value="search" id="example-search-input">
                <span class="input-group-append border">
                    <button class="btn" type="button">
                        <mat-icon class="fa fa-search">search</mat-icon>
                    </button>
                </span>
            </div>
            </form>
        </div>        
        <div class="col d-flex justify-content-end iconAddExcel">
            <img src="../../assets/add.png" class="pe-2">
            <img src = "../../assets/excel.png">
          </div>        
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
       <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="TelcoName">Telco Name</label>
                    <mat-form-field>
                      <mat-label>Select Telecom</mat-label>
                      <mat-select [formControl]="telecomFormInput" multiple apperarance="none">
                        <mat-option *ngFor="let telecom of telecomList" [value]="telecom">{{telecom}}</mat-option>
                      </mat-select>
                    </mat-form-field>                 
                </div>                
            </div>  
            <div class="col">                
                <div class="form-group">
                    <label for="TelcoName">Service Type</label>                    
                      <mat-form-field>
                        <mat-label>Service Type</mat-label>
                        <mat-select [formControl]="telecomServiceTypeInput" multiple apperarance="none">
                          <mat-option *ngFor="let telecom of telecomServiceType" [value]="telecom">{{telecom}}</mat-option>
                        </mat-select>
                      </mat-form-field>            
                </div>
            </div>  
            <div class="col">                
                <div class="form-group">
                    <label for="TelcoName">Select Active</label>                    
                      <mat-form-field>
                        <mat-label>Select Active</mat-label>
                        <mat-select [formControl]="telecomServiceTypeInput" apperarance="none">
                          <mat-option>Active</mat-option>
                          <mat-option>Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>                      
                </div>
            </div>  
            <div class="col align-self-center">                
                <div class="form-group">
                    <button type="button" class="btn btn-light">Submit</button>                   
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Sl.No</th>
                <th>Telecom Name</th>
                <th>Is Active</th>
                <th>Avatar</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userData of listUserDetails?.data">
                <td>{{userData.id}}</td>
                <td>{{userData.first_name}} {{userData.last_name}}</td>
                <td>{{userData.email}}</td>
                <td><img class="img-thumbnail" src="{{userData.avatar}}"></td>
                <td> <button class="btn" type="button" (click)="openModal(editProfileModal, userData.id)">
                  <img src="../../assets/edit.png" style="width: 30px; height:30px;">
              </button></td>
              </tr>
            </tbody>
          </table>
            </div>
        </div>
        </div>
        
      </div>
</div>

<div class="container-fluid">
   <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
     <div class="row mt-4 mb-4">
         <div class="col">
          <mat-paginator 
          #paginator
          [length]="totalData"
            [pageSize]="10"
            [pageSizeOptions]="[10,20]"
            aria-label="Select page">
          </mat-paginator>
          </div>
          </div>
          </div>
  </div>
</div>

<!-- Modal-->

<!-- Button trigger modal -->
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
   <h5 class="modal-title" id="editProfileLabel">Edit Profile</h5>
   <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  
  <div class="modal-body">
   <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(this.listsingleUserDetails?.data.id)">
    <div class="form-group row">
     <label for="firstname" class="col-sm-4 col-form-label">First Name</label>
     <div class="col-sm-8">
      <input type="text" class="form-control" formControlName="firstname" id="firstname">
     </div>
    </div>
    <div class="form-group row">
     <label for="lastname" class="col-sm-4 col-form-label">Last Name</label>
     <div class="col-sm-8">
      <input type="text" class="form-control" formControlName="lastname" id="lastname">
     </div>
    </div>    
    <div class="form-group row">
     <label for="email" class="col-sm-4 col-form-label">Email</label>
     <div class="col-sm-8">
      <input type="email" class="form-control" formControlName="email" id="email">
     </div>
    </div>
    <img class="img-thumbnail" src="{{this.listsingleUserDetails?.data.avatar}}">
    <div class="modal-footer">
     <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
     <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
   </form>
  </div>
 </ng-template>