.top-logo {
    flex-direction: row;   
  }
  .top-logo-img {
    width: 30%;
    padding: 0px;
    border: 0;
    border-radius: 0; 
  }
  .card{
    background: #00274F !important;
    color: white;
  }
  
  .admin-img{
    width: 80px;
  }
  .active {
    background-color: #FFB802 !important;
  }