
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper"  [ngClass]="status ? 'hide' : 'show'">
      <div class="card top-logo" style="width: 18rem;">
        <img src=".../../../../assets/logo.png" class="img-thumbnail top-logo-img card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bulk Top Up</h5>
          <p class="card-text">Payment Gateway</p>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;">
        <img src=".../../../../assets/admin.png" class="admin-img  mx-auto d-block card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Bulk Top Up</h5>
          <p class="card-text">Payment Gateway</p>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <a  routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Dashboard</a>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">       
            <a routerLink="/" routerLinkActive="active" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Telecom Masters
            </a>        
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="list-group list-group-flush" style="border-bottom: 2px solid #fff; background-color: #003467
                ;">
                <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Telecom</a>
                <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Telecom Service</a>
                <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Service Configuration</a>
                <a routerLinkActive="active"  class="list-group-item list-group-item-action bg-dark">Telecom Price</a>
                </div>
              
            </div>
          </div>
          </div>      
        <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Process</a>
        <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Report</a>
        <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Change Password</a>
        <a routerLinkActive="active" class="list-group-item list-group-item-action bg-dark">Logout</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

